<!-- drawer init and toggle -->
<div type="button" data-drawer-target="user-account-drawer" data-drawer-show="user-account-drawer" data-drawer-placement="right" aria-controls="user-account-drawer" data-drawer-body-scrolling="true" data-drawer-backdrop="true" class="cursor-pointer relative w-9 h-9 overflow-hidden rounded-full border">{{ ux_icon('solar:user-bold', { class: 'absolute w-10 h-10 top-2/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2' }) }}</div>

<!-- drawer component -->
<div id="user-account-drawer" class="fixed top-0 right-0 z-40 h-screen bg-tertiary-50 border-l border-tertiary-300 p-4 overflow-y-auto transition-transform translate-x-full w-80" tabindex="-1" aria-labelledby="drawer-right-label">
	<h5 id="drawer-right-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500">
		<svg class="w-4 h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
			<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
		</svg>Right drawer
	</h5>
</div>

{# Copy and paste of the background backdrop, because otherwise, when it's added to the DOM, the classes aren't recognized, since with Tailwind, only the classes actually used are loaded. #}
<div class="bg-gray-900/50 fixed inset-0 z-30 hidden"></div>
