  <div class="form-layout-grid">
    {{ form_row(addressForm.street, {'row_attr': {'class': 'form-item-full-width'}}) }}
    {{ form_row(addressForm.city, {'row_attr': {'class': 'form-item-md-half'}}) }}
    {{ form_row(addressForm.zipCode, {'row_attr': {'class': 'form-item-md-half'}}) }}
    {{ form_row(addressForm.country, {'row_attr' : {'class': 'form-item-md-half'}}) }}
  </div>