{% extends 'base_layout.html.twig' %}
{% block body %}
  {% block header %}
    <twig:Shelter:Header />
  {% endblock %}
  <div class="p-4 sm:ml-64 bg-tertiary-50">
    {% block content %}

    {% endblock %}
  </div>
{% endblock %}
