<header class="w-full">
	<nav class="bg-primary-600 px-4 lg:px-6 py-2.5">
		<div
			class="flex items-center justify-start md:justify-between">
			{# Mobile menu #}
			<div class="min-md:hidden mr-3 md:mr-0">
				{% include 'components/user/_menu_drawer.html.twig' %}
			</div>

			<div class="flex items-center md:order-1">
				<a href="{{ path('app_home') }}" class="text-white flex items-center">
					<img src="{{ asset('images/logo.svg') }}" class="h-6 mr-3 filter-white" alt="{{ site_name }} Logo"/>
				</a>
			</div>

			<div class="flex items-center md:order-3 max-md:grow max-md:justify-end">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					{% include 'components/user/_account_drawer.html.twig' %}
				{% else %}
					<twig:Button :route="path('app_login')" color="tertiary">
						Connexion
					</twig:Button>
				{% endif %}
			</div>

			{# Desktop menu #}
			<div class="max-md:hidden md:flex space-x-6 text-white md:order-2 items-center">

				<twig:Button color="secondary" :route="path('app_animals_list')">Adopt</twig:Button>

				<a href="#" class="hover:underline">À propos</a>
				<a href="#" class="hover:underline">Services</a>
				<a href="#" class="hover:underline">Contact</a>
			</div>
		</div>
	</nav>
</header>
