{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="example-wrapper">
  <h1 class="text-3xl font-bold underline bg-red-500 text-white">Hello World!</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/app/src/Controller/MainController.php</code></li>
        <li>Your template at <code>/app/templates/main/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
