@theme {
    --color-*: initial;

    /* === Neutrals === */
    --color-black: #000;
    --color-white: #fff;

    /* === (green) Primary === */
    --color-primary-100: #e0e7e2;
    --color-primary-200: #c1cec5;
    --color-primary-300: #9bada2;
    --color-primary-400: #768b7f;
    --color-primary-500: #5a6f63;
    --color-primary-600: #485950;
    --color-primary-700: #3c4942;
    --color-primary-800: #323d37;
    --color-primary-900: #2d3431;
    --color-primary-950: #171c1a;

    /* === (purple) Secondary === */
    --color-secondary-50: #f7f7fb;
    --color-secondary-100: #f1eff8;
    --color-secondary-200: #e5e2f2;
    --color-secondary-300: #d1cbe7;
    --color-secondary-400: #b8add8;
    --color-secondary-500: #9d8bc7;
    --color-secondary-600: #9179ba;
    --color-secondary-700: #795ea3;
    --color-secondary-800: #654f88;
    --color-secondary-900: #544270;
    --color-secondary-950: #362a4b;

    /* === (brown) Tertiary === */
    --color-tertiary-50: #f5f4f1;
    --color-tertiary-100: #e6e2db;
    --color-tertiary-200: #cec7ba;
    --color-tertiary-300: #b2a492;
    --color-tertiary-400: #a3927f;
    --color-tertiary-500: #8c7966;
    --color-tertiary-600: #786456;
    --color-tertiary-700: #614f47;
    --color-tertiary-800: #54443f;
    --color-tertiary-900: #4a3c39;
    --color-tertiary-950: #29201f;

    /* === Red === */
    --color-red-50: #fef2f2;
    --color-red-100: #fde3e3;
    --color-red-200: #fccccc;
    --color-red-300: #f9a8a8;
    --color-red-400: #f37676;
    --color-red-500: #e84b4b;
    --color-red-600: #d52d2d;
    --color-red-700: #b22222;
    --color-red-800: #942020;
    --color-red-900: #7b2121;
    --color-red-950: #430c0c;

    /* === Green === */
    --color-green-50: #effaf4;
    --color-green-100: #d8f3e2;
    --color-green-200: #b5e5ca;
    --color-green-300: #84d1ab;
    --color-green-400: #52b788;
    --color-green-500: #2e9b6c;
    --color-green-600: #1f7c56;
    --color-green-700: #196347;
    --color-green-800: #164f39;
    --color-green-900: #134130;
    --color-green-950: #0a241b;

    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-gray-900: #111827;
}

@layer base {
    html {
        @apply text-primary-900 dark:text-tertiary-50;
    }
}