<div class="relative">
	{% for type, messages in flashes %}
		{% for id, message in messages %}
			<twig:Alert type="{{ type }}" closable id="{{ type }}-{{ id }}" class="fixed top-10 right-0 left-0 z-50  mx-10 my-8">
				{{message}}
			</twig:Alert>
		{% endfor %}
	{% endfor %}
</div>
